In [1]:
import numpy as np , pandas as pd

In [7]:
data = pd.read_csv('content/preprocessed_train.csv')

In [8]:
data.head()

,Unnamed: 0,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,floor,area,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,day,month,hour
0,0,105,0,2016-01-01 00:00:00,23.3036,1,0,50623,1,1,3.8,NaN,2.4,NaN,1020.9,240.0,3.1,1,1,0
1,1,106,0,2016-01-01 00:00:00,0.3746,1,0,5374,1,0,3.8,NaN,2.4,NaN,1020.9,240.0,3.1,1,1,0
2,3,107,0,2016-01-01 00:00:00,175.1840,1,0,97532,2,2,3.8,NaN,2.4,NaN,1020.9,240.0,3.1,1,1,0
3,4,108,0,2016-01-01 00:00:00,91.2653,1,0,81580,1,1,3.8,NaN,2.4,NaN,1020.9,240.0,3.1,1,1,0
4,5,109,0,2016-01-01 00:00:00,80.9300,1,0,56995,2,1,3.8,NaN,2.4,NaN,1020.9,240.0,3.1,1,1,0

In [17]:
from sklearn.preprocessing import MinMaxScaler 
from data_fetcher import Fetcher
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer


fetcher= Fetcher() # to clean the data
data_cleaned= fetcher.transform(data)

numerical_pipeline = Pipeline([ ('imputer', SimpleImputer()), # to fill missing values with mean
                                ('scaler', MinMaxScaler())
                              ])

num_attribs = ['meter_reading','air_temperature','dew_temperature','sea_level_pressure','wind_direction','wind_speed'] # columns to transform
date_attribs=['day','month'	,'hour','area','floor','hour', 'season', 'weekend', 'day_of_the_week']

full_pipeline = ColumnTransformer([ ("num", numerical_pipeline, num_attribs),
                                      ("date", SimpleImputer() ,  date_attribs )])

transformed_data = full_pipeline.fit_transform(data_cleaned)

C:\Users\shomer\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\shomer\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
D:\projects\Research-Buildings-Energy-forecasting-using-Deep-Learning\data_fetcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['season'] = df.month.apply(self.season_finder)
D:\projects\Research-Buildings-Energy-forecasting-using-Deep-Learning\data_fetcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weekend'] = df.timestamp.dt.dayofweek > 4
D:\projects\Research-Buildings-Energy-forecasting-using-Deep-Learning\data_fetcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day_of_the_week'] = df.timestamp.dt.dayofweek

In [23]:
tmp_cols=['meter_reading','air_temperature','dew_temperature','sea_level_pressure','wind_direction','wind_speed', 'day','month'	,'hour','area','floor','hour', 'season', 'weekend', 'day_of_the_week']

In [20]:
transformed_data

array([[0.        , 0.20923913, 0.38175676, ..., 3.        , 0.        ,
        4.        ],
       [0.36463482, 0.20652174, 0.38175676, ..., 3.        , 0.        ,
        4.        ],
       [0.36902801, 0.17663043, 0.36486486, ..., 3.        , 0.        ,
        4.        ],
       ...,
       [0.2800659 , 0.29347826, 0.49662162, ..., 3.        , 1.        ,
        5.        ],
       [0.27594728, 0.29347826, 0.51013514, ..., 3.        , 1.        ,
        5.        ],
       [0.27841845, 0.30978261, 0.52027027, ..., 3.        , 1.        ,
        5.        ]])

In [24]:
pd.DataFrame(transformed_data , index=data_cleaned.index , columns= tmp_cols )

,meter_reading,air_temperature,dew_temperature,sea_level_pressure,wind_direction,wind_speed,day,month,hour,area,floor,hour,season,weekend,day_of_the_week
timestamp,,,,,,,,,,,,,,,
2016-01-01 00:00:00,0.000000,0.209239,0.381757,0.659280,0.666667,0.167568,1.0,1.0,0.0,1.0,2.0,0.0,3.0,0.0,4.0
2016-01-01 01:00:00,0.364635,0.206522,0.381757,0.668975,0.638889,0.140541,1.0,1.0,1.0,1.0,2.0,1.0,3.0,0.0,4.0
2016-01-01 02:00:00,0.369028,0.176630,0.364865,0.673130,0.000000,0.000000,1.0,1.0,2.0,1.0,2.0,2.0,3.0,0.0,4.0
2016-01-01 03:00:00,0.366282,0.160326,0.341216,0.678670,0.472222,0.081081,1.0,1.0,3.0,1.0,2.0,3.0,3.0,0.0,4.0
2016-01-01 04:00:00,0.366557,0.168478,0.361486,0.684211,0.305556,0.081081,1.0,1.0,4.0,1.0,2.0,4.0,3.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 19:00:00,0.292696,0.326087,0.520270,0.750693,0.611111,0.194595,31.0,12.0,19.0,1.0,2.0,19.0,3.0,1.0,5.0
2016-12-31 20:00:00,0.285283,0.301630,0.506757,0.742382,0.611111,0.221622,31.0,12.0,20.0,1.0,2.0,20.0,3.0,1.0,5.0
2016-12-31 21:00:00,0.280066,0.293478,0.496622,0.732687,0.611111,0.248649,31.0,12.0,21.0,1.0,2.0,21.0,3.0,1.0,5.0
2016-12-31 22:00:00,0.275947,0.293478,0.510135,0.721607,0.527778,0.167568,31.0,12.0,22.0,1.0,2.0,22.0,3.0,1.0,5.0
2016-12-31 23:00:00,0.278418,0.309783,0.520270,0.711911,0.583333,0.308108,31.0,12.0,23.0,1.0,2.0,23.0,3.0,1.0,5.0

In [12]:
## creating a class for doing nothing to the dates

In [25]:
import numpy as np , pandas as pd 
from sklearn.base import BaseEstimator, TransformerMixin

class Do_nothing(BaseEstimator, TransformerMixin):
    
    def __init__(self): # 99 referes to none
        return 
        
    def fit(self, x, y=None):
        return self  # nothing else to do
    
    
    def transform(self, x):
        return x.astype(int)

In [52]:
from sklearn.preprocessing import MinMaxScaler 
from data_fetcher import Fetcher
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer


fetcher= Fetcher() # to clean the data
data_cleaned= fetcher.transform(data)

numerical_pipeline = Pipeline([ ('imputer', SimpleImputer()), # to fill missing values with mean
                                ('scaler', MinMaxScaler())
                              ])

num_attribs = ['meter_reading','air_temperature','dew_temperature','sea_level_pressure','wind_direction','wind_speed'] # columns to transform
date_attribs=['day','month'	,'hour']

full_pipeline = ColumnTransformer([ ("num", numerical_pipeline, num_attribs),
                                      ("date", Do_nothing() ,  date_attribs )])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [53]:
transformed_data = full_pipeline.fit_transform(data_cleaned)
pd.DataFrame(transformed_data , index=data_cleaned.index , columns= data_cleaned.columns ).head()

,meter_reading,air_temperature,dew_temperature,sea_level_pressure,wind_direction,wind_speed,day,month,hour
timestamp,,,,,,,,,
2016-01-01 00:00:00,0.000000,0.209239,0.381757,0.659280,0.666667,0.167568,1.0,1.0,0.0
2016-01-01 01:00:00,0.364635,0.206522,0.381757,0.668975,0.638889,0.140541,1.0,1.0,1.0
2016-01-01 02:00:00,0.369028,0.176630,0.364865,0.673130,0.000000,0.000000,1.0,1.0,2.0
2016-01-01 03:00:00,0.366282,0.160326,0.341216,0.678670,0.472222,0.081081,1.0,1.0,3.0
2016-01-01 04:00:00,0.366557,0.168478,0.361486,0.684211,0.305556,0.081081,1.0,1.0,4.0