In [5]:
import numpy as np , pandas as pd 
from sklearn.base import BaseEstimator, TransformerMixin

In [ ]:
data = pd.read_csv('content/preprocessed_train.csv')

In [49]:
class fetch_building_data(BaseEstimator, TransformerMixin):
    
    def __init__(self, building_id=122 , meter=0 , primary_use= 99 ): # 99 referes to none
        
        self.building_id = building_id
        self.meter = meter
        self.primary_use = primary_use
        
        
    def fit(self, x, y=None):
        return self  # nothing else to do
    
    
    def transform(self, df):
        
        df= df.drop(columns=['Unnamed: 0' , 'precip_depth_1_hr' , 'cloud_coverage', 'site_id' , 'square_feet'])
        
        if self.primary_use == 99:
            
            df= df.query(f'building_id=={self.building_id} & meter=={self.meter}')
            df.drop(['building_id', 'meter','primary_use' ], axis=1 , inplace=True )
            
        else:
            
            df= df.query(f'building_id=={self.building_id} & meter=={self.meter} & primary_use =={self.primary_use}')
            df.drop(['building_id', 'meter','primary_use'], axis=1 , inplace=True )
            
            
        df.loc[:, "timestamp"] = pd.to_datetime( df.loc[:, "timestamp"] )
        df.set_index('timestamp', inplace=True)
        return df

In [50]:
# data = pd.read_csv('content/preprocessed_train.csv')
fetcher=fetch_building_data()

df= fetcher.transform( data )

In [51]:
df.head()

,meter_reading,air_temperature,dew_temperature,sea_level_pressure,wind_direction,wind_speed,day,month,hour
timestamp,,,,,,,,,
2016-01-01 00:00:00,134.3,3.8,2.4,1020.9,240.0,3.1,1,1,0
2016-01-01 01:00:00,267.1,3.7,2.4,1021.6,230.0,2.6,1,1,1
2016-01-01 02:00:00,268.7,2.6,1.9,1021.9,0.0,0.0,1,1,2
2016-01-01 03:00:00,267.7,2.0,1.2,1022.3,170.0,1.5,1,1,3
2016-01-01 04:00:00,267.8,2.3,1.8,1022.7,110.0,1.5,1,1,4

In [56]:
from data_fetcher import Fetcher

df_fetcher = Fetcher()

df= df_fetcher.transform( data )
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,meter_reading,air_temperature,dew_temperature,sea_level_pressure,wind_direction,wind_speed,day,month,hour
timestamp,,,,,,,,,
2016-01-01 00:00:00,134.3,3.8,2.4,1020.9,240.0,3.1,1,1,0
2016-01-01 01:00:00,267.1,3.7,2.4,1021.6,230.0,2.6,1,1,1
2016-01-01 02:00:00,268.7,2.6,1.9,1021.9,0.0,0.0,1,1,2
2016-01-01 03:00:00,267.7,2.0,1.2,1022.3,170.0,1.5,1,1,3
2016-01-01 04:00:00,267.8,2.3,1.8,1022.7,110.0,1.5,1,1,4